<!DOCTYPE html>
<html>
<head>
    <title>臺大開源社：103-1 學代選舉領票統計</title>
    <meta charset="utf-8">
    <meta property="og:title" content="103-1 學代選舉領票統計">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://vote.ntuosc.org/statistics/103-1/">
    <meta property="og:image" content="http://vote.ntuosc.org/statistics/103-1/assets/chart.png">
    <meta property="og:site_name" content="臺灣大學開源社">
    <meta property="og:description" content="開源社負責開發電子投票「嗶卡領票」的身份驗證系統，並針對這次學生代表選舉相關數據做了分析。一起來看看哪個票點最熱門、哪裡又是拓荒前線吧！">

    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <script src="bower_components/chartjs/Chart.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="row">
        <div class="large-12 columns">
            <h1>領票統計</h1>
            <dl class="sub-nav">
                <dt>檢視：</dt>
                <dd><a href="index.html">累積圖</a></dd>
                <dd><a href="by_time.html">分布圖</a></dd>
                <dd class="active"><a href="by_station.html">依票所</a></dd>
                <dd><a href="by_college.html">依學院</a></dd>
            </dl>
            <ul id="charts" class="large-block-grid-4">
            </ul>
            <footer class="clearfix">
                <div class="large-9 columns">
                    <p>統計數據僅供參考；時間點以無條件捨去至最接近的半小時為依據。</p>
                </div>
                <div class="large-3 columns">
                    <p class="large-only-text-right">© <a href="https://ntuosc.org">臺灣大學開源社</a></p>
                </div>
            </footer>
        </div>
    </div>
    <script>
        var labels = ['文學院', '理學院', '社會科學院', '醫學院', '工學院', '生農學院', '管理學院', '公衛學院', '電機資訊學院', '法律學院', '生命科學院']
        var datasets = {
            '共同': [32, 10, 40, 7, 31, 61, 16, 2, 7, 16, 9],
            '活大': [37, 10, 21, 4, 42, 32, 23, 11, 26, 22, 2],
            '普通': [57, 12, 23, 21, 16, 38, 14, 7, 10, 12, 4],
            '二活': [3, 8, 25, 2, 6, 13, 128, 1, 4, 10, 0],
            '新社科院': [4, 2, 109, 1, 4, 2, 3, 1, 6, 61, 0],
            '男一舍': [11, 15, 23, 7, 43, 17, 15, 1, 21, 8, 3],
            '新生': [16, 14, 19, 27, 24, 14, 14, 2, 16, 11, 0],
            '醫學院': [1, 1, 1, 125, 5, 1, 0, 2, 1, 1, 0],
            '水源校區': [66, 1, 2, 0, 1, 1, 1, 0, 0, 1, 0],
            '公衛大樓': [1, 1, 0, 5, 0, 1, 0, 37, 0, 0, 0],
            '總計': [228, 74, 263, 199, 172, 180, 214, 64, 91, 142, 18],
        }

        var charts = document.getElementById('charts');
        for (var station in datasets) {
            var dataset = datasets[station];
            var sum = dataset.reduce(function(a, b) { return a + b; });

            var item = document.createElement('li');
            var header = document.createElement('h5');
            var canvas = document.createElement('canvas');

            header.innerHTML = station + ' <small>(' + sum + ')</small>';
            canvas.width = 210;
            canvas.height = 160;

            var chart = new Chart(canvas.getContext('2d')).Pie(generate_flat_dataset(dataset, labels), {
                tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value %> (<%= Math.round(value * 100 / '+sum+') %>%)',
            });

            item.appendChild(header);
            item.appendChild(canvas);
            charts.appendChild(item);
        }
    </script>
    <!-- (C) RSChiang / NTUOSC 2014. https://ntuosc.org -->
</body>
</html>
