/* Use Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:600');

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #212121;
    font-family: Lato, Source Han Sans, sans-serif;
}

header, footer {
    max-width: 68em;
    margin: auto;
    padding: 0 1em;
}

header {
    font-family: Montserrat, Source Han Sans, sans-serif;
    font-weight: 600;
}

.chart {
    max-width: 68em;
    margin: auto;
}

svg {
    width: 100%;
    height: 100%;
}
